{% extends "core/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'core/styles.css' %}">

<h1>
    {% if editar %}
        Editar gasto
    {% else %}
        Nuevo gasto
    {% endif %}
</h1>

<form method="post" class="form-card">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <label>Fecha</label>
    {{ form.fecha }}

    <label>Monto</label>
    {{ form.monto }}

    <label>Categoría</label>
    {{ form.categoria }}

    <label>Propiedad</label>
    {{ form.propiedad }}

    <label>Descripción</label>
    {{ form.descripcion }}

    <button type="submit">
        {% if editar %}Guardar cambios{% else %}Guardar gasto{% endif %}
    </button>
</form>
{% endblock %}
